<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="row border-top mt-5 shadow">
    <div class="col-12 col-md-12 text-center">
        <a href="https://www.github.com/RodolfoFrias" target="_blank" class="btn btn-social-icon btn-github">
            <span class="fa fa-github fa-md fa-3x"></span>
            <p>Github</p>
        </a>
        <a href="https://www.linkedin.com/in/rodolfo-guadalupe-frías-lugo-a4810516b" target="_blank" class="btn btn-social-icon btn-linkedin">
            <span class="fa fa-linkedin fa-md fa-3x"></span>
            <p>Linkedin</p>
        </a>
        <div class="footer-copyright text-center"> &copy; 2019 Rodolfo Frías:
        
        </div>
    </div>
</div>
