<main class="container-fluid">
  <div class="row mt-4 shadow" id="introduceMe">
    <div class="col-md-2 d-none d-sm-block my-3">
      <div id="foto" class="text-center mt-3">
        <img class="img-circle" src="../../assets/images/yo.jpg" alt="Me">
      </div>
    </div>
    <div class="col-12 col-md-6 pl-5">
      <p class="font-weight-bold">
        Hi, i am Rodolfo, a backend developer, based in Queretaro city 💻
      </p>
      <hr>
      <p class="text-secondary">
        I enjoy creating applications using the MEAN stack because it is the one
        i like the most, however i also like using other technologies such as PHP with 
        codeigniter framework.
      </p>
    </div>
  </div>

  <app-projects></app-projects>

  <section id="technologies" class="mt-5 shadow">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-6 col-md-3 text-center">
              <img alt="logo" src="../../assets/images/mongodb.png">
            </div>

            <div class="col-6 col-md-3 text-center">
              <img class="mt-5" alt="logo" src="../../assets/images/Expressjs.png">
            </div>

            <div class="col-6 col-md-3 text-center">
              <img alt="logo" src="../../assets/images/Angular.png">
            </div>

            <div class="col-6 col-md-3 text-center">
              <img alt="logo" src="../../assets/images/node.png">
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>