<div class="row shadow" id="contact">
    <div class="col-12">
        <h2 class="text-center my-3">Contact me</h2>
        <form action="" method="post">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name"  id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email"  id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="asunto"  id="asunto" placeholder="Asunto">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <textarea class="form-control" name="content" id="content" cols="5" rows="6"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <input class="btn btn-md btn-secondary" type="submit" value="Send messagew">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
