@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
* {
    font-family: 'Barlow Condensed', sans-serif;
}

#Goup {
    bottom: 0;
    position: fixed;
    cursor: pointer;
    margin: 1%;
}